@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,600,700,800&display=swap');
html{
  scroll-behavior:smooth;
}
*
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans';
 }
 body
 {
   border: 5px solid skyblue;
 }
 header
{
  width: 100%;
  height: 100vh;
  background-image: url('./U.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-bottom: 2px solid #555;
}
.main 
{
  width: 100%;
  padding: 10px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .logo h1
{
  font-size: 20px;
  padding: 30px;
  padding-top: 20px;
}
.main .logo 
{
  width:190px;
  height: 60px;
  border-radius: 50px;
  border: 2px outset cyan;
}
.main nav
{
  width:80%;
  
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.main nav a
{
  text-decoration: none;
  color: #555;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.main nav a:hover{
 border-bottom: 3px solid  #555;
}

main .btn
{
  padding-top: 30px;
}
main button
{
  padding:12px 30px;
  text-align: center;
  font-size: 15px;
  border: none;
  background:linear-gradient(darkcyan,cyan) ;
  border-radius: 15px;
}
main button a
{
  text-decoration: none;
  color: #ffffff;
}
main
{
  width: 100%;
  display: flex;
  padding: 5%;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

main .left
{
  padding-left: 5%;

}
main .right
{
  padding-right: 1%;
}
main .right img
{
  border-radius: 100%;
}
.left h2
{
  font-size: 40px;
  text-transform: capitalize;
  color: #555;
  margin-top: 10%;
}
.left h1
{
  font-size: 50px;
}
.left p
{
  font-size: 15px;
  font-weight: 500;
}
main img{
  width: 75%;
}

.precautions
{
  width: 100%;
  height: 100vh;
  background-image: url('./design.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 10%;
  padding-top: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.precautions h1
{
  padding: 10px;
  color: #555;
  font-weight: 900;
  font-size: 40px;
  border-bottom: 2px solid #555;
}

.precautions .ptable 
{
  padding: 10px;
  color: darkcyan;
  font-weight: 700;
  font-size: 18px;
  padding-top: 50px;
}

.precautions .ptable td 
{
 padding-bottom: 25px;
}

.about
{
  width: 100%;
  height: 100vh;
  background-image: url('./design.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 10%;
  padding-top: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 2px solid #555;
}
.about h1
{
 padding: 10px;
 color: #555;
 font-weight: 900;
 font-size: 40px;
 border-bottom: 2px solid #555;
}
.about h2
{
 padding: 10px;
 color: darkcyan;
 font-weight: 600;
 font-size: 25px;
 padding-top: 50px;
 padding-bottom: 40px;
}
.about nav
{
  border:2px solid #555;
  padding: 10px;
  border-radius: 30px;
}
.about nav a
{
  color: #555;
  text-decoration: none;
  font-weight: 700;
}
.precautions nav
{
  border:2px solid #555;
  padding: 10px;
  border-radius: 30px;
}
.precautions nav a
{
  color: #555;
  text-decoration: none;
  font-weight: 700;
}

@media only screen and (max-width: 830px)
{
  .main 
{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
  .main .logo h1
  {
   font-size: 15px;
   padding: 20px;
   padding-top: 10px;
  }
  .main .logo 
  {
   width:145px;
   height: 40px;
  }
  .main nav a
  {
   font-size: 15px;
  }
  main
{
  padding-top: 10px;
  flex-direction: column-reverse;
 
}
  .left h2
  {
   font-size: 20px;
   margin-top: 30%;
  }
  .left h1
  {
   font-size: 22px;
  }
  main .left
  {
   padding-left: 0%;
  }
  main .right
  {
   padding-left: 40%;
  }
  main img
  {
    width: 98%;
  }
  .main .logo img
  {
   width:60px;
   height: 60px;
  }
  .main button
  {
   padding:10px 20px;
   font-size: 15px;
  }
  header
  {
   max-height: 100vh;
   background-size: 100% 100%;
  }
  .about
  {
   width: 100%;
   height: 100vh;
   padding-left: 5%;
   padding-top: 5%;
   padding-right: 5%;
  }
  .about h1
  {
   padding: 5px;
   font-size: 25px;
  }
  .about h2
  {
   padding: 5px;
   font-size: 15px;
   line-height: 1.5;
  }
  .precautions
  {
    height: 70vh;
  }
  .precautions h1
  {
   padding: 10px;
   font-size: 30px;
  }

  .precautions .ptable 
  {
   padding: 10px;
   font-size: 14px;
   padding-top: 40px;
  }

  .precautions .ptable td 
  {
   padding-bottom: 20px;
  }
}
@media only screen and (max-width: 580px)
{
  .main .logo h1
  {
   font-size: 13px;
   padding: 10px;
   padding-top: 5px;
  }
  .main .logo 
  {
   width:120px;
   height: 26px;
  }
  .main nav a
  {
   font-size: 12px;
  }
  .left h2
  {
   font-size: 15px;
   margin-top: 10%;
  }
  .left h1
  {
   font-size: 16px;
  }
  main .left
  {
   padding-left: 0%;
  }
  main .right
  {
   padding-left: 20%;
  }
  main img
  {
    width: 98%;
  }
  .main .logo img
  {
   width:70px;
   height: 70px;
  }
 
  header
  {
   max-height: 100vh;
   background-size: 100% 100%;
  }
  .about
  {
   width: 100%;
   height: 100vh;
   padding-left: 5%;
   padding-top: 5%;
   padding-right: 5%;
   background-size: 100% 100%;
  }
  .about h1
  {
   padding: 10px;
   font-size: 20px;
  }
  .about h2
  {
   padding: 10px;
   font-size: 12px;
   line-height: 1.5;
  }
  .precautions
  {
    height: 100vh;
    background-size: 100% 100%;
  }
  .precautions h1
  {
   padding: 5px;
   font-size: 20px;
  }

  .precautions .ptable 
  {
   padding: 10px;
   font-size: 12px;
   padding-top: 40px;
  }

  .precautions .ptable td 
  {
   padding-bottom: 30px;
  } 
}